<!DOCTYPE html>
<html>
<head>
  <title>Order Dataset</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
    <h1 class="text-center mb-5">Order Dataset</h1>

    <div class="row">
      {% for row in rows %}
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">order id: <b>{{row["PizzaID"]}}</b></h5>
            <p class="card-text">Size: {{row["Size"]}} | Price: {{row["Price"]}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</body>
</html>